.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
}

.benefits__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.benefits__box {
  margin-bottom: 30px;
  @extend %centered;
  height: 120px;

  background-color: var(--light-grey-bgc);
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;

  @include font(14px, 1.14, 0.03em);
  color: var(--primary-text-color);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__description {
  @include font(14px, 1.71, 0.03em);
  color: var(--secondary-text-color);
}
