.customers-logo {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.customers-logo__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.customers-logo__link {
  @extend %centered;
  width: 100%;
  height: 100%;

  color: var(--icon-light-grey);
  border: 1px solid var(--icon-light-grey);
  border-radius: 4px;

  transition: color var(--transition-dur-func),
    border-color var(--transition-dur-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.customers-logo__icon {
  fill: currentColor;
}
