.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-grey-bgc);
}

.footer__container {
   text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
  }

  @media screen and (min-width: 1200px) {
  text-align: left;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__box {
  flex-grow: 1;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__contacts {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__form {
  // display: flex;
  // flex-direction: column;

  @media screen and (min-width: 1200px) {
    display: flex;
    // flex-direction: row;
    align-items: flex-end;
    column-gap: 12px;

    width: 570px;
  }
}

.footer__label {
  margin-bottom: 20px;

  font-weight: 700;
  @include font(14px, 1.14, 0.03em);
  color: var(--white-bgc);
  text-transform: uppercase;
}
