.header {
  border-bottom: 1px solid var(--border-light-grey);
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 96px;

  @media (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    column-gap: 315px;
  }
}
