.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  @include font(14px, 1.14, 0.02em);
  color: var(--primary-text-color);

  transition: color var(--transition-dur-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link_active {
  position: relative;

  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;
    content: '';

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
