.submit-btn {
  @extend %centered;
  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  @include font(16px, 1.88, 0.06em);
  color: var(--white-bgc);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color var(--transition-dur-func);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.submit-btn__icon {
  margin-left: 10px;
}

.hero__submit-btn {
  padding-right: 32px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
}
